.custom-navbar {
  background-color: #fff1eb;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  height: 80px;
}

.navbar-logo {
  height: 70px;
  width: auto;
}

.nav-links .nav-link {
  color: #a40000;
  font-weight: 600;
  margin: 0 10px;
  font-size: 0.95rem;
}

.nav-links .nav-link:hover {
  color: #7a0000;
}

.signin-btn {
  border: 1px solid #a40000;
  color: #000;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 0.9rem;
}

.signin-btn:hover {
  background-color: #a40000;
  color: #fff;
}

@media (min-width: 992px) {
    #responsive-navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    

    .nav-links {
        flex-grow: 1; 
        justify-content: center; 
    }
}